- unless signed_in?
  .modal.fade#splash
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
            %span{:"aria-hidden" =>"true"}
              &times;
          %d.row
            %d.col-xs-12.col-sm-3.col-md-3.col-lg-3
              = image_tag "logos/adopt-a-drain.png", :width => "100%", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
            %d.col-xs-12.col-sm-9.col-md-9.col-lg-9
              %h1{:style => "float:left;font-size:54px;"}
                How to adopt a drain
        .modal-body
          %d.row
            %d.col-xs-12.col-sm-4.col-md-4.col-lg-4
              %text{:style => "font-size:64px"}
                1.
              %h1{:style => "margin-top:-50px"}
                Sign up
                %br
                  here
              %p{:style => "padding-left:30px;"}
                %ul{:style => "font-size:16px;"}
                  %li
                    Read 'What does it mean to adopt a drain?'
                  %li
                    Watch the training video.
                  %li
                    Sign up with your name and email address.
                  %li
                    Read and agree to the Terms of Service.
                  %li
                    Enter your street address to search for a storm drain.
                  %li
                    Choose your storm drain and give it a name!
              %p{:style => "padding-left:30px;padding-top:30px;"}
                %button.btn.btn-lg.btn-success{:type => "button", :id => "accept", :"data-dismiss" => "modal", :style => "font-size:24px;"}
                  << Start
            %d.col-xs-12.col-sm-4.col-md-4.col-lg-4
              %text{:style => "font-size:64px"}
                2.
              %h1{:style => "margin-top:-50px"}
                Keep your
                %br
                drains clean
              %p{:style => "padding-left:30px;font-size:16px;"}
                %ul{:style => "font-size:16px;"}
                  %li
                    Never reach into the storm drain or try to remove the grate.
                  %li
                    Safely remove litter and yard debris away from the drain following all safety guidelines.
                  %li
                    Bag debris and litter and place it in your trash bin for regular pick up. 
                  %li
                    Check your drains twice a month.
            %d.col-xs-12.col-sm-4.col-md-4.col-lg-4
              %text{:style => "font-size:64px"}
                3.
              %h1{:style => "margin-top:-50px"}
                Check-in!
              %p{:style => "padding-left:30px;font-size:16px;"}
                Let us know everytime you check on and clean your drain! Sign in to your account and click 'Check-in'.
