.modal.fade#splash
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          How to adopt a drain
      .modal-body
        %p

        %ol
          %li

      .modal-footer
        %button.btn.btn-default{:type => "button", :id => "accept", :"data-dismiss" => "modal"}
          Accept
        %button.btn.btn-default{:type => "button", :id => "reject", :"data-dismiss" => "modal"}
          Reject
