.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          What Does it Mean To Adopt a Drain?
      .modal-body
        %p
          %em
            %strong
              Remember that each participant is responsible for his or her own safety. This program is only for individuals 18 and older.
        %p
          Thank you for adopting one of Norfolk's 9,000 adoptable storm drains. By pledging to keep your drain clear of litter and debris, you are keeping our waterways clean, reducing flood risk, and building resilience in your neighborhood!

        %h3
          To conduct a safe clean-up of your storm drain, DO:
        %ul
          %li
            Dress appropriately. Wear work gloves, close-toed shoes, and bright, reflective clothing.
          %li
            Use a broom or trash picker to remove litter and debris from around the storm drain.
          %li
            Clean the drain only during daylight hours.
          %li
            In case of an emergency, have a cell phone with you to call for help.
          %li
            Secure all belongings, like cell phones, so that they do not fall into the storm drains. You will not be able to retrieve them if they fall.
          %li
            Have separate bags for trash and recyclables.
          %li
            Close bags and place in your trash and recycling bins for regular pick-up.
        %h3
          To protect yourself and others:
        %ul
          %li
            DO NOT stand in the street while cleaning.
          %li
            DO NOT pick up trash that is inside of the storm drain or too close to the roadway.
          %li
            DO NOT clean the drain during dark hours or inclementweather.
          %li
            DO NOT volunteer or perform any of these activities under the influence of alcohol and/ordrugs.
          %li
            DO NOT pick up weapons, bullets, or ammunition. If found, call the Non-Emergency Number at 441-5610to report its location
          %li
            DO NOT pick up materials that appear to be hazardous or dangerousincluding, but not limited to, needles, syringes, and bottle bombs. Although rare, “bottle bombs” made of plastic bottles do exist.Do notpick up any partially filled, closed bottles that appear to have metal or hazardous liquids inside. If a suspicious bottle is found, back away from it at least 100 feet, prevent any other individuals from enteringthe area, and call 911to inform the police of what you’ve found and where you found it. Report graffiti, dumping, or spills to the Norfolk Cares Line at 664-6510.

        %p
          %em
            Remember, the City of Norfolk won't be held
            responsible for anything that happens to you or others in service
            of maintaining your drain. Please be careful!
        %p
          Is there a drain near your house that isn't available for adoption? Drains too close to busy roadways are not included for safety purposes. However, if there is a drain along a neighborhood road that seems to be missing, please email us at AdoptStormDrain@norfolk.gov with the location of the drain. 
        %h3  
          Spread the Word!
        %p
          Excited about the Adopt a Drain program? Want to encourage your
          coworkers, friends and neighbors to participate? Utilize social media
          to spread the word.
        %p
          %a{target: "_blank", href: "https://www.facebook.com/NorfolkVA/", class: ""}
            =image_tag("icons/facebook.png", :alt => "nfk facebook", :title => "nfk facebook")
          %a{target: "_blank", href: "https://www.instagram.com/cityofnorfolkva/", class: ""}
            =image_tag "icons/instagram.png", :alt => "nfk instagram", :title => "nfk instagram"
          %a{target: "_blank", href: "https://twitter.com/NorfolkVA", class: ""}
            =image_tag "icons/twitter.png", :alt => "nfk twitter", :title => "nfk twitter"

        %p
          Remember to tag us <a target="_blank" href=https://twitter.com/NorfolkVA?lang=en>@NorfolkVA</a>
          and to use the following hashtags: <a target="_blank"
          href="https://twitter.com/hashtag/drainhero">#DrainHero</a>, <a target="_blank"
          href="https://twitter.com/hashtag/adoptadrain">#AdoptADrain</a> and <a target="_blank"
          href="https://twitter.com/hashtag/nfkdrains">#NFKDrains</a>.

        %h3
          Volunteer Developer Opportunities
        %p
          Are you a programmer with Ruby on Rails experience who wants to help
          improve and maintain the Adopt a Drain application? Don't be shy!
          We're always seeking assistance with the code! Get involved and
          follow our <a target="_blank"
          href="https://github.com/code4hr/adopt-a-drain">GitHub page</a>.

        %h3
          Contact Us
        %p
          Email questions and feedback to <a target="_blank"
          href="mailto:adoptstormdrain@norfolk.gov">adoptstormdrain@norfolk.gov</a>. We'd love to
          hear from you!

      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
