.modal.fade#tos
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          VOLUNTEER RELEASE AND WAIVER OF LIABILITY AGREEMENT
      .modal-body
        %p 
          This Volunteer Release and Waiver of Liability Agreement (“Agreement”) is given on the date of registration for this service project by the volunteer, known hereinafter as“Participant”,in favor of the City of Norfolk, its executives, officers, employees and agents.Participant desires to participate on a voluntary basis in the Adopt-A-Storm-Drain service project conducted, sponsored by or otherwise affiliated with the City of Norfolk. In consideration of the opportunity to participate in this project, the Participant hereby agrees as follows:
        %ol
          %li
            %h3
              Voluntary Participation
            %p
              Participant must be 18 yearsof ageor older. Each personin a householdmust volunteer individually, creating his/her own separateaccount.Participant acknowledges and agrees that his/her participation in this service project is voluntary and acknowledges and agrees that he/she will not be paid for his/her services. Participant further acknowledges that his/her participation in this service project may be terminated at any time at the sole discretion of the City of Norfolk.
            %p
              Participant understands that the activities associated as a volunteer may include cleaning storm drains as well as the removal of litter and debris in and around the storm drain. Participant further acknowledges that work to be performed will be in close proximity to traveled thoroughfares and will be in close proximity to passing vehicular traffic. Participant hereby acknowledges and agrees that there are inherent risks and hazards in participating in this service project that can cause injury, damage, death or other loss
          %li
            %h3
              Assumption of the Risk
            %p
              Participant voluntarily and personally assumes all risks that may arise out of, and/or result from, participation in the Adopt-A-Storm-Drain service project whether such risks are known or unknown, foreseen or unforeseen, disclosed or undisclosed, including but not limited to those risks described above. It is Participant's intention that this Agreement be construed as broadly as possible in favor of the City of Norfolk. Participant understands that he/she has the duty to exercise reasonable care for his/her own safety and Participant agrees to do so.
          %li
            %h3
              Waiver and Release of Liability/Covenant Not to Sue
            %p
              Participant does hereby release and forever discharge and agree to hold harmless the City of Norfolk and its executives, officers, employees, agents and volunteers from any and all liability, claims and damages of whatever kind or nature, either in law or in equity, which arise from or may hereafter arise out of or are related to any loss, damage, or injury, including death, that may be sustained by Participant, or to any property belonging to Participant, whether caused by the negligence of others or the City of Norfolk, or its executives, officers, agents and/or employees, while participating in such volunteer activity. It is the Participant's express intent that his/her endorsement of this Agreement shall bind the members of the Participant's family and spouse (if any), if Participant is alive, and their heirs, assigns and personal representative, if the Participant is not alive, and shall be deemed as a RELEASE, WAIVER, DISCHARGE AND COVENANT NOT TO SUE the City of Norfolk, its executives, officers, employees and/or agents.
          %li
            %h3
              Medical Treatment
            %p
              Participant does hereby release and forever discharge the City of Norfolk, its executives, officers, employees and agents from any claim whatsoever which arises out of or may hereafter arise on account of any first aid, medical treatment or medical service rendered to the Participant in connection with the Participant's activities associated with this service project.
            %p
              Participant understands that any medical expenses will be billed directly to their insurance company or Participant personally. Participant understands that the City of Norfolk, its executives, officers, employees and agents will not be responsible for any medical costs associated with an injury sustained by the Participant or caused by Participant to others.
          %li
            %h3
              Photographic Release
            %p
              I hereby grant the City of Norfolk, the right to photograph, and/or videotape me and to use videotapes or photographs in any and all of its publications and online at their discretion for the purpose of promoting their activities. Participant does hereby grant and convey unto the City of Norfolk all right, title, interest in any and all photographic images and video or audio recordings made by the City of Norfolk during the Participant's volunteer work with this service project including, but not limited to, any royalties, proceeds or other benefits derived from such photographs or recordings.
          %li
            %h3
              Acceptance of Terms of Service
            %p
              By clicking ‘Accept’ on these terms, participantcertifies he/shehasreviewed all safety guidelines,watched the training video in its entirety,carefully read this Agreement in its entirety, and fully understands its contents and agrees to the terms and conditions of this document on behalf of himself/herself.Participant agrees that in the event any clause or provision of this Agreement shall be held to be invalid by any court of competent jurisdiction, the invalidity of such clause or provision shall not otherwise affect the remaining provisions of this Agreement which shall continue to be enforceable.Participant acknowledges that there are no warranties or promises, express or implied, being made by the City of Norfolk which extend beyond the description of the activities listed in this document. Participant acknowledges they are accepting the terms ofthis document voluntarily of his/her own free will and agrees to be bound by it, from the date of his/her registration for this program, forever into the future.
      .modal-footer
        %button.btn.btn-default{:type => "button", :id => "accept", :"data-dismiss" => "modal"}
          Accept
        %button.btn.btn-default{:type => "button", :id => "reject", :"data-dismiss" => "modal"}
          Reject
